* {
  box-sizing: border-box;
}

html {
  background-color: lightblue;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 620px;
  height: 530px;
  margin: 5rem 25rem;
  background-color: #0B2434;
}
